/* YG SELECT | index.css */
html, body{
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}
/* ==========================================================(아래)헤더 */
header {
    background: #fff;
    position: sticky; top: 0;
    z-index: 500;
    display: flex;
    padding: 18.5px 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
/* =================================좌측메뉴 */
header #t_m_menu_btn {display: none;}/* 태블릿, 모바일 메뉴버튼 기본 숨기기 */
header #t_m_menu_btn img {width: 100%;}
header .m_t_menu { /* 태블릿 모바일 전체메뉴 */
    display: none;
}
header .m_t_menu .m_t_menu_list {}
header .m_t_menu .m_t_menu_list li {}
header .m_t_menu .m_t_menu_list li a {}
header .m_t_menu .m_t_menu_list li a button {}

header .menu_list {gap: 32px;}
header .menu_list li {position: relative;}
header .menu_list li .artist_sub,
header .menu_list li .category_sub,
header .menu_list li .community_sub {
    z-index: 500;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    position: absolute;
    top: 42px;
    padding: 50px;
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    gap: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
header .menu_list li:hover .artist_sub,
header .menu_list li:hover .category_sub,
header .menu_list li:hover .community_sub {
    opacity: 1;
    visibility: visible;
}

header .menu_list li .artist_sub {}
header .menu_list li .category_sub {}
header .menu_list li .community_sub {}

header .menu_list li .artist_sub,
header .menu_list li .category_sub,
header .menu_list li .community_sub * {}
header .menu_list li > a {
    font-size: var(--font-size-lg-d);
    font-weight: var(--font-weight-medium);
}
header .menu_list li .sub_col {display: flex; flex-flow: column nowrap; gap: 30px;}
header .menu_list li .sub_col a {
    white-space:nowrap;
    font-weight: var(--font-weight-bold);
}
header .menu_list li .sub_col a:hover {color: #888;}
header .menu_list li > a::after {
    content: ''; display: block;
    width: 100%; height: 5px;
    background: #000;
    position: absolute;
    left: 0px; bottom: -23px;
    transform: scaleX(0);
    transition: transform 0.3s;
}
header .menu_list li:hover > a {}
header .menu_list li:hover > a::after {
    transform: scaleX(1);
}
/* =================================로고 */
header #brand_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px; height: 30px;
}
header #brand_logo a {display: block;}
header #brand_logo a img {width: 100%;}
/* =================================우측메뉴 */
header .menu_right {gap: 30px;}
header .menu_right * {
    font-size: var(--font-size-md-d);
    font-weight: var(--font-weight-medium);
}
header .menu_right a {}
header .menu_right .join_login {gap: 10px;}
header .menu_right .join_login .join_btn {
    position: relative;
}
header .menu_right .join_login .join_btn::after {
    content: ''; display: block;
    background: var(--bg-disable); 
    width: 1px; height: 14px;
    position: absolute; top: 2px; left: 44px;
}
header .menu_right .join_login .login_btn {}
header .menu_right .icon_menu {gap: 30px;}
header .menu_right .icon_menu #lang {padding: 0 7px;}
header .menu_right .icon_menu #lang option {font-size: var(--font-size-sm-d);}
header .menu_right .icon_menu .login_btn {display: none;}/* 태블릿 모바일 로그인 버튼 초기 숨기기 */
header .menu_right .icon_menu .login_btn img {width: 100%;}
header .menu_right .icon_menu .basket {width: 32px;}
header .menu_right .icon_menu .basket img {width: 100%;}
header .menu_right .icon_menu #search_btn {width: 32px;}
header .menu_right .icon_menu #search_btn img {width: 100%;}
/* ========================================검색창 */
header .menu_right .icon_menu .search_popup {
    background-color: #fff;
    position: absolute; top: 100%; left: 0;
    width: 100%; height: 450px;
    padding: 100px 140px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.3s ease;
    visibility: hidden;
    z-index: 500;
    gap: 50px;
}
header .menu_right .icon_menu .search_popup.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
header .menu_right .icon_menu .search_popup .close_btn {
    position: absolute; top: 30px; right: 60px;
}
header .menu_right .icon_menu .search_popup .close_btn img {width: 100%;}
header .menu_right .icon_menu .search_popup .popular_search_pd {gap: 100px;}
header .menu_right .icon_menu .search_popup .popular_search_pd li {
    width: 100%;
    overflow: hidden; 
    min-width: 0;
}
header .menu_right .icon_menu .search_popup .popular_search_pd li a {
    font-size: var(--font-size-sm-d);   
    font-weight: var(--font-weight-light);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}
header .menu_right .icon_menu .search_popup h3 {
    font-size: var(--font-size-lg-d); 
    font-weight: var(--font-weight-bold);
    margin-bottom: 25px;
}
header .menu_right .icon_menu .search_popup .popular_search_pd {}
header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap {position: relative; width: 160px;}
header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap::after {
    content: ''; display: block;
    background-color: var(--bg-disable);
    width: 1px; height: 220px;
    position: absolute; top: 10px; right: -45px;
}
header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap .popular_pd {gap: 15px;}
header .menu_right .icon_menu .search_popup .popular_search_pd .popular_search_wrap { width: max-content;}
header .menu_right .icon_menu .search_popup .popular_search_pd .popular_search_wrap .popular_search {gap: 15px;}

header .menu_right .icon_menu .search_popup .search_input_recent {
    width: 600px;
}
header .menu_right .icon_menu .search_popup .search_input_recent .search_input {
    margin-bottom: 20px;
    display: flex;            
    align-items: center; 
    justify-content: space-between;    
    border-bottom: solid 1px var(--bg-disable);
}
header .menu_right .icon_menu .search_popup .search_input_recent .search_input input {
    height: 44px; line-height: 44px; 
    flex: 1;
}
header .menu_right .icon_menu .search_popup .search_input_recent .search_input input::placeholder{font-size: var(--font-size-md-d);}
header .menu_right .icon_menu .search_popup .search_input_recent .search_input img {}
header .menu_right .icon_menu .search_popup .search_input_recent .search_recent {width: 100%}
header .menu_right .icon_menu .search_popup .search_input_recent .search_recent #recent_delete {
    font-size: var(--font-size-sm-d);
    font-weight: var(--font-weight-light);
}

header .menu_right .icon_menu .search_popup .search_ad {max-width: 500px; height: 260px;}
header .menu_right .icon_menu .search_popup .search_ad img {width: 100%; height: 100%; object-fit: cover;}
/* ===============================================================================(아래)메인 */
main {}
/* =================================================== 1행 히어로배너 */
main #hero_sec {}
main #hero_sec .hero_bnr {}
main #hero_sec .hero_bnr .swiper-wrapper {}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide {
    height: 900px;
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr1 {
    display: block;
    height: 100%;
    position: relative;
    background-image: url('../images/hero/hero4.png'); 
    background-repeat: no-repeat;
    background-size: cover;       
    background-position: center; 
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr1 .bnr_title_wrap1 {
    position: absolute; top: 0; left: 50%; 
    transform: translate(-50%, 100px);
    text-align: center;
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr1 .bnr_title_wrap1 * {color: #fff;}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr1 .bnr_title_wrap1 p {
    margin-bottom: 20px;
    font-size: 1.75em;
    font-weight: var(--font-weight-light);
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease 0.5s;
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr1 .bnr_title_wrap1 h3 {  
    font-weight: var(--font-weight-bold);
    font-family: 'Noto Serif KR';
    font-size: 4em;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease;
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide-active .hero_bnr1 .bnr_title_wrap1 p,
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide-active .hero_bnr1 .bnr_title_wrap1 h3 {
    opacity: 1;
    transform: translateY(0);
}
/* ==========================================================2번째 히어로 배너 */
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr2 {
    display: block;   
    width: 100%; height: 100%;
    background-image: url(../images/hero/hero2.png);
    background-repeat: no-repeat;
    background-size: cover;       
    background-position: center; 
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr2 .bnr_title_wrap2 {
    position: absolute; top: 0; left: 50%; 
    transform: translate(-50%, 100px);
    text-align: center;
}
/* main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr2 .bnr_title_wrap2 * {color: #fff;} */
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr2 .bnr_title_wrap2 p {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease 0.5s;
    font-size: 2rem; font-weight: var(--font-weight-bold);
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr2 .bnr_title_wrap2 h3 {
    font-weight: var(--font-weight-bold);
    font-family: 'Noto Serif KR';
    font-size: 5em;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease;
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide-active .hero_bnr2 .bnr_title_wrap2 p,
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide-active .hero_bnr2 .bnr_title_wrap2 h3 {
    opacity: 1;
    transform: translateY(0);
}
/* =============================================== 2행 아티스트 */
main #aritst_sec {}
main #aritst_sec .artist_wrap {
    background: var(--bg-basic);
    padding: 150px 0;

}
main #aritst_sec .artist_wrap * {
    color: #fff;
    text-align: center;
    font-weight: var(--font-weight-bold);
}
main #aritst_sec .artist_wrap h2 {
    font-size: var(--font-size-xxl-d);
    margin-bottom: 70px;
}
main #aritst_sec .artist_wrap .artist_swiper {height: max-content;}
main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper {height: 100%;}
main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide {width: 800px ; height: 100%}
main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a {}
main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a img {
    width: 100%; height: 500px;
    margin-bottom: 20px; 
    object-fit: cover;
}
main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a h3 {font-size: var(--font-size-xl-d);}

/* =========================================================== 3행 NEW */
main #new_sec {}
main #new_sec .new_wrap {padding-top: 150px; height: auto;; position: relative;}
main #new_sec .new_wrap h2 {
    font-size: var(--font-size-xxl-d);
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-bottom: 50px;
}
/* ================================================탭메뉴 */
main #new_sec .new_wrap .new_tab_menu {
    gap: 30px;
    margin-bottom: 30px;
}
main #new_sec .new_wrap .new_tab_menu li {position: relative;}
main #new_sec .new_wrap .new_tab_menu li button {
    font-size: var(--font-size-lg-d);
    font-weight: var(--font-weight-light);
}
main #new_sec .new_wrap .new_tab_menu li button::after {
    content: ''; display: block;
    width: 100%; height: 5px;
    background: #000;
    position: absolute; left: 0; bottom: -10px;
    opacity: 0;
    transform: scaleX(0);
    visibility: hidden;
    transition: all 0.5s ease;
}
main #new_sec .new_wrap .new_tab_menu li button.active {font-weight: var(--font-weight-bold);}
main #new_sec .new_wrap .new_tab_menu li button.active::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}


/* ================================================컨텐츠 */
main #new_sec .new_wrap .new_content_wrap {display: grid; height: auto;}
main #new_sec .new_wrap .new_content_wrap .new_content {/* 숨기기 */
    opacity: 0;
    visibility: hidden;
    gap: 50px;
    transition: opacity 0.7s;
    width: 100%;
    height: 800px;
    grid-row: 1 / 2; 
    grid-column: 1 / 2;
    margin: 0;
    pointer-events: none;
    
} 
main #new_sec .new_wrap .new_content_wrap .new_content.active {/* 보이기 */
    opacity: 1; 
    visibility: visible;
    pointer-events: auto;
} 

/* ================================================배너 */
main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner {
    transform: translateX(-300px); 
    transition: all 0.5s; 
    width: 100%; height: 100%; 
    flex: 5;
}
main #new_sec .new_wrap .new_content_wrap .new_content.active .artist_banner {transform: translateX(0);}
main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner a {
    width: 100%; height: 800px;
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner .new_bigbang {
    background-image: url(../images/new/bigbang/banner.jpg);
    
}
main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner .new_blackpink {
    background-image: url(../images/new/blackpink/banner.jpg);
}
main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner a .banner_text {
    font-size: 4rem;
    font-weight: var(--font-weight-bold);
    position: absolute;
    bottom: 20px; left: 40px;
}
main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner a .white {color: #fff;}
main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner a .more_btn {
    display: block;
    width: 130px; height: 50px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 0 60px;
    position: absolute;
    top: 0; right: 0;
    color: #fff;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-lg-d);
    line-height: 50px;
    text-align: center;
    padding-left: 10px;
}

/* ================================================상품리스트 */
main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list {
    height: 100%;
    display: flex; flex-flow: row wrap;
    gap: 15px 20px;
    transform: translateX(300px); transition: all 0.5s;
    flex: 7;
}
main #new_sec .new_wrap .new_content_wrap .new_content.active .new_product_list {transform: translateX(0); display: flex; flex-flow: row wrap;}
main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li {flex: 0 0 calc(33.333% - 14px); min-width: 0;}
main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a {width: 100%;}
main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a .new_thum {width: 100%; margin-bottom: 10px;}
main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a .new_thum img {width: 100%;}
main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a .new_name {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-sm-d);
    margin-bottom: 7px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a .new_price {font-weight: var(--font-weight-bold); font-size: var(--font-size-md-d);}

/* ========================================띠배너(응원봉) */
main #line_bnr_sec {padding: 200px 0 100px 0;}
main #line_bnr_sec .line_bnr {padding: 0 100px; background: #111; overflow: hidden; height: 200px;}
main #line_bnr_sec .line_bnr .line_bnr_text {position: relative;}
main #line_bnr_sec .line_bnr .line_bnr_text * {
    color: #fff;
    white-space: nowrap;
}
main #line_bnr_sec .line_bnr .line_bnr_text h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxl-d);
    margin-bottom: 5px;
}
main #line_bnr_sec .line_bnr .line_bnr_text .bnr_details {
    font-size: var(--font-size-lg-d); font-weight: var(--font-weight-light);
    margin-bottom: 10px;
}
main #line_bnr_sec .line_bnr .line_bnr_text .buy_now {font-size: var(--font-size-md-d); font-weight: var(--font-weight-light);}

main #line_bnr_sec .line_bnr .cheering_group {padding-top: 200px;}
main #line_bnr_sec .line_bnr .cheering_group img {width: 110px;}

/* ================================================================ 4행 앨범 */
main #album_sec {margin-top: 150px;}
main #album_sec .album_wrap {height: 900px;}
/* =========================================================메인배너, 제목 */
main #album_sec .album_wrap .album_bnr {
    flex: 1;
    height: 100%;
}
main #album_sec .album_wrap .album_bnr img {
    width: 100%; height: 100%;
    object-fit: cover;
    
}
main #album_sec .album_wrap .album_detail {
    flex: 1;
    padding-left: 120px;
}
main #album_sec .album_wrap .album_detail h2 {font-size: var(--font-size-xxl-d); font-weight: var(--font-weight-bold); margin-bottom: 20px;}
/* ========================================================= 탭 메뉴 */
main #album_sec .album_wrap .album_detail .album_tab_menu {gap: 50px; margin-bottom: 70px;}
main #album_sec .album_wrap .album_detail .album_tab_menu li {}
main #album_sec .album_wrap .album_detail .album_tab_menu li button {
    font-size: var(--font-size-lg-d); font-weight: var(--font-weight-light); 
    position: relative;
}
main #album_sec .album_wrap .album_detail .album_tab_menu li button::after {
    content: ''; display: block;
    width: 100%; height: 5px;
    background: #000;
    position: absolute; left: 0; bottom: -10px;
    opacity: 0;
    transform: scaleX(0);
    visibility: hidden;
    transition: all 0.5s ease;
}
main #album_sec .album_wrap .album_detail .album_tab_menu li button.active {font-weight: var(--font-weight-bold);}
main #album_sec .album_wrap .album_detail .album_tab_menu li button.active::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}
/* ========================================================= 앨범 */
main #album_sec .album_wrap .album_detail .album_title_img {position: relative; width: max-content;}
main #album_sec .album_wrap .album_detail .album_title_img h2 {
    font-size: var(--font-size-xl-d); font-weight: var(--font-weight-bold);
    margin-bottom: 5px;
}
main #album_sec .album_wrap .album_detail .album_title_img p {
    font-size: var(--font-size-lg-d); font-weight: var(--font-weight-light);
    margin-bottom: 15px;
}
main #album_sec .album_wrap .album_detail .album_title_img .album_bnr_s {
    width: 450px;
    position: relative;
    z-index: 200;
}
main #album_sec .album_wrap .album_detail .album_title_img .album_bnr_s img {width: 100%;}
main #album_sec .album_wrap .album_detail .album_title_img .lp {
    width: 420px;
    position: absolute; top: 81px; left: 235px;
    z-index: 100;


}
main #album_sec .album_wrap .album_detail .album_title_img .lp img {
    width: 100%;
    animation: spin_lp 12s linear infinite;
    transform-origin: center center;
}

/* ==============================================띠배너(YGSELECT) */
.yg_banner_container {
    overflow: hidden;
    width: 100%;
    background: #111; 
    padding: 20px 0;
    white-space: nowrap;
}
.yg_banner_container .banner_wrap {
    display: flex;
    width: max-content;
    animation: yg_line_bnr 60s linear infinite;
}
.yg_banner_container .banner_wrap .line_banner_text {
    display: flex;
    gap: 50px; 
    align-items: center;
    padding-right: 50px;
}
.yg_banner_container .banner_wrap .line_banner_text span {
    font-size: var(--font-size-xxl-d);
    font-weight: var(--font-weight-bold);
    color: #fff; 
    letter-spacing: 1px;
}
.yg_banner_container:hover .banner_wrap {
    animation-play-state: paused;
}

/* =================================================== best */
main #best_sec {background-color: #111; padding: 0 140px;  position: relative;}
main #best_sec .best_wrap {margin: 0 auto; padding: 150px 0;}
main #best_sec .best_wrap * {color: #fff;}
main #best_sec .best_wrap h2 {
    font-size: var(--font-size-xxl-d); 
    font-weight: var(--font-weight-bold); 
    text-align: center;
    margin-bottom: 50px;
}
main #best_sec .best_wrap .best_detail {}
main #best_sec .best_wrap .best_detail .swiper-wrapper {}
main #best_sec .best_wrap {}
main #best_sec .best_wrap .swiper-button-next,
main #best_sec .best_wrap .swiper-button-prev {
    width: 32px; height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
}
main #best_sec .best_wrap .swiper-button-next {
    background-image: url(../images/icon/next_btn.svg);
    right: 80px;
}
main #best_sec .best_wrap .swiper-button-prev {
    background-image: url(../images/icon/prev_btn.svg);
    left: 80px;
}
main #best_sec .best_wrap .swiper-button-next::after,
main #best_sec .best_wrap .swiper-button-prev::after {display: none;}
main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap {}
main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_bnr {
    height: 480px;
    display: block;
    position: relative;
    margin-bottom: 10px;
}
main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_bnr img {
    width: 100%; height: 100%; 
    object-fit: cover;
}
main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_bnr h1 {
    position: absolute;
    bottom: 30px; left: 30px;
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
}
main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product {gap: 10px;}
main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product .product_info {flex: 1; display: block; min-width: 0;} 
main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product .product_info .best_thum {width: 100%; height:100%; margin-bottom: 12px;}
main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product .product_info .best_thum img {width: 100%; height:100%; background: #fff;}
main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product .product_info .best_name {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-sm-d);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-bottom: 7px;
}
main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product .product_info .best_price {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-md-d);
}
/*========================================================= 이벤트  */
main #event_sec {}
main #event_sec .event_wrap {padding: 150px 0; overflow: hidden;}
main #event_sec .event_wrap h2 {
    font-size: var(--font-size-xxl-d);
    font-weight: var(--font-weight-bold); 
    margin-bottom: 50px; 
    text-align: center;}
main #event_sec .event_wrap .event_slide {height: max-content;}
main #event_sec .event_wrap .event_slide .swiper-wrapper {}
main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide {width: 368px; height: 620px;}
main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide:nth-child(even) {transform: translateY(50px);}
main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide .event_detail {
    font-weight: var(--font-weight-light); font-size: var(--font-size-md-d);
    display: block;
    width: 100%; height:100%;
}
main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide .event_detail .event_thum {height: 500px;  margin-bottom: 20px;}
main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide .event_detail .event_thum img {width: 100%; height: 100%; object-fit: cover;}
main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide .event_detail h3 {text-align: center; line-height: 1.3;}
main #event_sec .event_wrap .event_slide .swiper-wrapper .view_all {width: 368px; height: 620px;}
main #event_sec .event_wrap .event_slide .swiper-wrapper .view_all > a{display: block;}
main #event_sec .event_wrap .event_slide .swiper-wrapper .view_all a .view_all_img {
    border: 1px solid #aaa; 
    height: 500px;
    margin-bottom: 20px;
    color: #aaa;
    font-size: 12rem;
    font-weight: 100;
}
main #event_sec .event_wrap .event_slide .swiper-wrapper .view_all a h3 {
    font-weight: var(--font-weight-light); font-size: var(--font-size-md-d);
    display: block;
    width: 100%; height:100%;
    text-align: center;
}
main #event_sec .event_wrap .swiper-scrollbar {
    width: 400px; height: 2px;
    background-color: #ddd; 
    margin: 20px auto 0; 
    position: relative;

}
main #event_sec .event_wrap .swiper-scrollbar-drag {
    background-color: #000
}

/* ===================================================================== 슬로건  */


/* ===================================================================== footer */
footer {padding: 0 140px;}
footer .footer_wrap {padding: 70px 0;}
/* ============================================================== footer 상단 */
footer .footer_wrap .footer_top {margin-bottom: 30px;}
/* ====================================================로고 */
footer .footer_wrap .footer_top h1 {width: 120px; height: 69px;}
footer .footer_wrap .footer_top h1 a {display: block; width: 100%; height: 100%;}
footer .footer_wrap .footer_top h1 a img {width: 100%;}
/* ====================================================sns+패밀리사이트 */
footer .footer_wrap .footer_top .footer_sns_family {gap: 30px;}
/* ====================================================패밀리사이트 */
footer .footer_wrap .footer_top .footer_sns_family .family_site_wrap {}
footer .footer_wrap .footer_top .footer_sns_family .family_site_wrap select {
    border: 1px solid var(--bg-disable);
    width: 120px; height: 36px;
    padding-left: 10px;
    background-image: url(../images/icon/down_btn.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 24px;
    font-size: var(--font-size-sm-d);
    font-weight: var(--font-weight-light);
}
footer .footer_wrap .footer_top .footer_sns_family .family_site_wrap select option {}
/* ====================================================sns */
footer .footer_wrap .footer_top .footer_sns_family .sns_list {gap: 15px;}
footer .footer_wrap .footer_top .footer_sns_family .sns_list a {width: 36px;}
footer .footer_wrap .footer_top .footer_sns_family .sns_list a img {width: 100%;}
/* ============================================================== footer 하단 */
footer .footer_wrap .footer_bottom {}
footer .footer_wrap .footer_bottom .footer_left {gap: 12px;}
/* ====================================================메뉴 */
footer .footer_wrap .footer_bottom .footer_left .footer_menu {gap: 15px;}
footer .footer_wrap .footer_bottom .footer_left .footer_menu li {position: relative;}
footer .footer_wrap .footer_bottom .footer_left .footer_menu li::after {
    content: ''; display: block;
    width:1px; height: 12px;
    background: #000;
    position: absolute; right: -7px; top: 1px;
}
footer .footer_wrap .footer_bottom .footer_left .footer_menu li:nth-child(6):after {display: none;}
footer .footer_wrap .footer_bottom .footer_left .footer_menu li a {
    display: block;
    font-size: var(--font-size-sm-d);
    font-weight: var(--font-weight-medium);
}
/* ====================================================address */
footer .footer_wrap .footer_bottom .footer_left .company_info {}
footer .footer_wrap .footer_bottom .footer_left .company_info p {}
footer .footer_wrap .footer_bottom .footer_left .company_info p:nth-child(4) {margin-bottom: 10px;}
footer .footer_wrap .footer_bottom .footer_left .company_info * {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-xsm-d);
    line-height: 1.5;
}
footer .footer_wrap .footer_bottom .footer_left .company_info .copyright {
    font-weight: var(--font-weight-regular);
    line-height: 1;
}
/* ==================================================== cs센터 */
footer .footer_wrap .footer_bottom .cs_center {gap: 12px;}
footer .footer_wrap .footer_bottom .cs_center h3 {font-weight: var(--font-weight-semibold); font-size: var(--font-size-md-d);}
footer .footer_wrap .footer_bottom .cs_center .phone_num {}
footer .footer_wrap .footer_bottom .cs_center .phone_num * {font-size: var(--font-size-sm-d);}
footer .footer_wrap .footer_bottom .cs_center .phone_num p {width: 140px;}
footer .footer_wrap .footer_bottom .cs_center .phone_num .tel {margin-bottom: 3px;}
footer .footer_wrap .footer_bottom .cs_center .phone_num .fax {}
footer .footer_wrap .footer_bottom .cs_center .hour {}
footer .footer_wrap .footer_bottom .cs_center .hour * {font-size: var(--font-size-sm-d);}
footer .footer_wrap .footer_bottom .cs_center .hour p {}
footer .footer_wrap .footer_bottom .cs_center .hour p:nth-child(1) {margin-bottom: 3px;}

/* ====================================================== CTA */
#top_btn {
    position: fixed; right: 60px; bottom: 60px;
    width: 48px; height: 48px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 800;
    border: 1px solid var(--bg-disable);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#top_btn img {
    width: 42px;
    display: block;
}
#top_btn span {
    display: none;
    color: #fff;
    font-size: var(--font-size-md-d);
    font-weight: var(--font-weight-bold);
}
#top_btn:hover img {display: none;}
#top_btn:hover span {display: block;}
#top_btn:hover {background-color: #111;}