/* YG SELECT | index.css */

body {
    margin: 0 auto;
    
}
/* ==========================================================(아래)헤더 */
header {
    background: #fff;
    position: sticky; top: 0;
    z-index: 500;
    display: flex;
    padding: 18.5px 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
/* =================================좌측메뉴 */
header #t_m_menu_btn {display: none;}/* 태블릿, 모바일 메뉴버튼 기본 숨기기 */
header #t_m_menu_btn img {width: 100%;}
header .m_t_menu { /* 태블릿 모바일 전체메뉴 */
    display: none;
}
header .m_t_menu .m_t_menu_list {}
header .m_t_menu .m_t_menu_list li {}
header .m_t_menu .m_t_menu_list li a {}
header .m_t_menu .m_t_menu_list li a button {}

header .menu_list {gap: 32px;}
header .menu_list li {position: relative;}
header .menu_list li .artist_sub,
header .menu_list li .category_sub,
header .menu_list li .community_sub {
    z-index: 500;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    position: absolute;
    top: 42px;
    padding: 50px;
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    gap: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
header .menu_list li:hover .artist_sub,
header .menu_list li:hover .category_sub,
header .menu_list li:hover .community_sub {
    opacity: 1;
    visibility: visible;
}

header .menu_list li .artist_sub {}
header .menu_list li .category_sub {}
header .menu_list li .community_sub {}

header .menu_list li .artist_sub,
header .menu_list li .category_sub,
header .menu_list li .community_sub * {}
header .menu_list li > a {
    font-size: var(--font-size-lg-d);
    font-weight: var(--font-weight-medium);
}
header .menu_list li .sub_col {display: flex; flex-flow: column nowrap; gap: 30px;}
header .menu_list li .sub_col a {
    white-space:nowrap;
    font-weight: var(--font-weight-bold);
}
header .menu_list li .sub_col a:hover {color: #888;}
header .menu_list li > a::after {
    content: ''; display: block;
    width: 100%; height: 5px;
    background: #000;
    position: absolute;
    left: 0px; bottom: -23px;
    transform: scaleX(0);
    transition: transform 0.3s;
}
header .menu_list li:hover > a {}
header .menu_list li:hover > a::after {
    transform: scaleX(1);
}
/* =================================로고 */
header #brand_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px; height: 30px;
}
header #brand_logo a {display: block;}
header #brand_logo a img {width: 100%;}
/* =================================우측메뉴 */
header .menu_right {gap: 30px;}
header .menu_right * {
    font-size: var(--font-size-md-d);
    font-weight: var(--font-weight-medium);
}
header .menu_right a {}
header .menu_right .join_login {gap: 10px;}
header .menu_right .join_login .join_btn {
    position: relative;
}
header .menu_right .join_login .join_btn::after {
    content: ''; display: block;
    background: var(--bg-disable); 
    width: 1px; height: 14px;
    position: absolute; top: 2px; left: 44px;
}
header .menu_right .join_login .login_btn {}
header .menu_right .icon_menu {gap: 30px;}
header .menu_right .icon_menu #lang {padding: 0 7px;}
header .menu_right .icon_menu #lang option {font-size: var(--font-size-sm-d);}
header .menu_right .icon_menu .login_btn {display: none;}/* 태블릿 모바일 로그인 버튼 초기 숨기기 */
header .menu_right .icon_menu .login_btn img {width: 100%;}
header .menu_right .icon_menu .basket {width: 32px;}
header .menu_right .icon_menu .basket img {width: 100%;}
header .menu_right .icon_menu #search_btn {width: 32px;}
header .menu_right .icon_menu #search_btn img {width: 100%;}
/* ========================================검색창 */
header .menu_right .icon_menu .search_popup {
    background-color: #fff;
    position: absolute; top: 100%; left: 0;
    width: 100%; height: 450px;
    padding: 100px 140px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.3s ease;
    visibility: hidden;
    z-index: 500;
    gap: 50px;
}
header .menu_right .icon_menu .search_popup.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
header .menu_right .icon_menu .search_popup .close_btn {
    position: absolute; top: 30px; right: 60px;
}
header .menu_right .icon_menu .search_popup .close_btn img {width: 100%;}
header .menu_right .icon_menu .search_popup .popular_search_pd {gap: 100px;}
header .menu_right .icon_menu .search_popup .popular_search_pd li {
    width: 100%;
    overflow: hidden; 
    min-width: 0;
}
header .menu_right .icon_menu .search_popup .popular_search_pd li a {
    font-size: var(--font-size-sm-d);   
    font-weight: var(--font-weight-light);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}
header .menu_right .icon_menu .search_popup h3 {
    font-size: var(--font-size-lg-d); 
    font-weight: var(--font-weight-bold);
    margin-bottom: 15px;
}
header .menu_right .icon_menu .search_popup .popular_search_pd {}
header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap {position: relative; width: 160px;}
header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap::after {
    content: ''; display: block;
    background-color: var(--bg-disable);
    width: 1px; height: 220px;
    position: absolute; top: 10px; right: -45px;
}
header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap .popular_pd {gap: 15px;}
header .menu_right .icon_menu .search_popup .popular_search_pd .popular_search_wrap { width: max-content;}
header .menu_right .icon_menu .search_popup .popular_search_pd .popular_search_wrap .popular_search {gap: 15px;}

header .menu_right .icon_menu .search_popup .search_input_recent {
    width: 600px;
}
header .menu_right .icon_menu .search_popup .search_input_recent .search_input {
    margin-bottom: 20px;
    display: flex;            
    align-items: center; 
    justify-content: space-between;    
    border-bottom: solid 1px var(--bg-disable);
}
header .menu_right .icon_menu .search_popup .search_input_recent .search_input input {
    height: 44px; line-height: 44px; 
    flex: 1;
}
header .menu_right .icon_menu .search_popup .search_input_recent .search_input input::placeholder{font-size: var(--font-size-md-d);}
header .menu_right .icon_menu .search_popup .search_input_recent .search_input img {}
header .menu_right .icon_menu .search_popup .search_input_recent .search_recent {width: 100%}
header .menu_right .icon_menu .search_popup .search_input_recent .search_recent #recent_delete {
    font-size: var(--font-size-sm-d);
    font-weight: var(--font-weight-light);
}

header .menu_right .icon_menu .search_popup .search_ad {max-width: 500px; height: 280px;}
header .menu_right .icon_menu .search_popup .search_ad img {width: 100%; height: 100%; /* aspect-ratio: 500 / 280; */}
/* ===============================================================================(아래)메인 */
main {}
/* =================================================== 1행 히어로배너 */
main #hero_sec {}
main #hero_sec .hero_bnr {}
main #hero_sec .hero_bnr .swiper-wrapper {}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide {
    height: 900px;
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a {
    display: block;
    height: 100%;
    position: relative;
    background-image: url('../images/hero/hero4.png'); 
    background-repeat: no-repeat;
    background-size: cover;       
    background-position: center; 
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 {
    position: absolute; top: 0; left: 50%; 
    transform: translate(-50%, 100px);
    text-align: center;
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 * {color: #fff;}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 p {
    margin-bottom: 20px;
    font-size: 1.75em;
    font-weight: var(--font-weight-light);
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease 0.5s;
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 h3 {  
    font-weight: var(--font-weight-bold);
    font-family: 'Noto Serif KR';
    font-size: 4em;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease;
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide-active a .bnr_title_wrap1 p,
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide-active a .bnr_title_wrap1 h3 {
    opacity: 1;
    transform: translateY(0);
}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap2 {}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap * {color: #fff;}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap2 p {}
main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap2 h3 {}

/* =============================================== 2행 아티스트 */
main #aritst_sec {}
main #aritst_sec .artist_wrap {
    background: var(--bg-basic);
    padding: 150px 0;

}
main #aritst_sec .artist_wrap * {
    color: #fff;
    text-align: center;
    font-weight: var(--font-weight-bold);
}
main #aritst_sec .artist_wrap h2 {
    font-size: var(--font-size-xxl-d);
    margin-bottom: 70px;
}
main #aritst_sec .artist_wrap .artist_swiper {height: max-content;}
main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper {height: 100%;}
main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide {width: 800px ; height: 100%}
main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a {}
main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a img {
    width: 100%; height: 500px;
    margin-bottom: 20px; 
    object-fit: cover;
}
main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a h3 {font-size: var(--font-size-xl-d);}

/* =========================================================== 3행 NEW */
main #new_sec {}
main #new_sec .new_wrap {padding-top: 150px; height: 1250px; position: relative;}
main #new_sec .new_wrap h2 {
    font-size: var(--font-size-xxl-d);
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-bottom: 50px;
}
/* ================================================탭메뉴 */
main #new_sec .new_wrap .new_tab_menu {
    gap: 30px;
    margin-bottom: 30px;
}
main #new_sec .new_wrap .new_tab_menu li {position: relative;}
main #new_sec .new_wrap .new_tab_menu li button {
    font-size: var(--font-size-lg-d);
    font-weight: var(--font-weight-light);
}
main #new_sec .new_wrap .new_tab_menu li button::after {
    content: ''; display: block;
    width: 100%; height: 5px;
    background: #000;
    position: absolute; left: 0; bottom: -10px;
    opacity: 0;
    transform: scaleX(0);
    visibility: hidden;
    transition: all 0.5s ease;
}
main #new_sec .new_wrap .new_tab_menu li button.active {font-weight: var(--font-weight-bold);}
main #new_sec .new_wrap .new_tab_menu li button.active::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}


/* ================================================컨텐츠 */
main #new_sec .new_wrap .new_content {/* 숨기기 */
    opacity: 0;
    visibility: hidden;
    gap: 50px;
    transition: opacity 0.7s;
    position: absolute;
    top: 307px;
    left: 0;
    width: 100%;
    height: max-content;
} 
main #new_sec .new_wrap .new_content.active {/* 보이기 */
    opacity: 1; 
    visibility: visible;
} 

/* ================================================배너 */
main #new_sec .new_wrap .new_content .artist_banner {transform: translateX(-300px); transition: all 0.5s;}
main #new_sec .new_wrap .new_content.active .artist_banner {transform: translateX(0);}
main #new_sec .new_wrap .new_content .artist_banner a {
    width: 800px; height: 800px;
    display: block;
    position: relative;
}
main #new_sec .new_wrap .new_content .artist_banner a img {
    width: 100%; height: 100%;
    object-fit: cover;
}
main #new_sec .new_wrap .new_content .artist_banner a .banner_text {
    font-size: 4rem;
    font-weight: var(--font-weight-bold);
    position: absolute;
    bottom: 20px; left: 40px;
}
main #new_sec .new_wrap .new_content .artist_banner a .white {color: #fff;}
main #new_sec .new_wrap .new_content .artist_banner a .more_btn {
    display: block;
    width: 130px; height: 50px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 0 60px;
    position: absolute;
    top: 0; right: 0;
    color: #fff;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-lg-d);
    line-height: 50px;
    text-align: center;
    padding-left: 10px;
}

/* ================================================상품리스트 */
main #new_sec .new_wrap .new_content .new_product_list {
    display: flex; flex-flow: row wrap;
    gap: 15px 20px;
    transform: translateX(300px); transition: all 0.5s;
}
main #new_sec .new_wrap .new_content.active .new_product_list {transform: translateX(0);}
main #new_sec .new_wrap .new_content .new_product_list li {flex: 0 0 calc(33.333% - 14px); min-width: 0;}
main #new_sec .new_wrap .new_content .new_product_list li a {width: 100%;}
main #new_sec .new_wrap .new_content .new_product_list li a .new_thum {width: 100%; margin-bottom: 10px;}
main #new_sec .new_wrap .new_content .new_product_list li a .new_thum img {width: 100%;}
main #new_sec .new_wrap .new_content .new_product_list li a .new_name {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-sm-d);
    margin-bottom: 7px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main #new_sec .new_wrap .new_content .new_product_list li a .new_price {font-weight: var(--font-weight-bold); font-size: var(--font-size-md-d);}


