/* YG SELECT | responsive.css */
/* 데스크탑 -> 태블릿 */
@media screen and (max-width:1400px) {
    header {
        padding: 10px 60px;
    }
/* =================================전체메뉴 */
    header #t_m_menu_btn {display: block;}/* 태블릿, 모바일 메뉴 기본 숨기기 */
    header .m_t_menu { /* 태블릿 모바일 전체메뉴 */
        display: block;
        opacity: 0;
        transform: translateX(-50px);
        transition: all 0.3s;
        position: fixed;
        top: 58px; left: 0;
        width:400px; height: 1200px;
        background: #fff;
        padding: 70px 0 0 60px;
        visibility: hidden;
    }
    header .m_t_menu.active {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
    header .m_t_menu .m_t_menu_list li {margin-bottom: 40px;}
    header .m_t_menu .m_t_menu_list li a {
        font-size: var(--font-size-xl-t);
        font-weight: var(--font-weight-bold);
        margin-right: 10px;
    }
    header .menu_list {display: none;}
    header .menu_list li:hover .artist_sub,
    header .menu_list li:hover .category_sub,
    header .menu_list li:hover .community_sub {
        display: none;
    }
    /* =================================로고 */
    header #brand_logo {width: 200px; height: 20px;}
    /* =================================우측메뉴 */
    header .menu_right * {font-size: var(--font-size-md-t);}
    header .menu_right .join_login {display: none;}
    header .menu_right .icon_menu #lang option {font-size: var(--font-size-sm-t);}
    header .menu_right .icon_menu {gap: 15px;}
    header .menu_right .icon_menu .login_btn {display: block; width: 32px;}
    header .menu_right .icon_menu .basket {width: 32px;}
    header .menu_right .icon_menu #search_btn {width: 32px;}
    /* ========================================검색창 */
    header .menu_right .icon_menu .search_popup {
        /* position: absolute; top: 100%; left: 0; */
        width: 100%; height: 540px;
        padding: 221px 63px 70px 120px;
        align-items: center;
    }
    header .menu_right .icon_menu .search_popup .close_btn {
        top: 73px; right: 63px;
        width: 36px;
    }
    header .menu_right .icon_menu .search_popup .popular_search_pd {gap: 40px;}
    header .menu_right .icon_menu .search_popup .popular_search_pd li a {
        font-size: var(--font-size-sm-d);   
    }
    header .menu_right .icon_menu .search_popup h3 {font-size: var(--font-size-lg-t);} 
    header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap::after {/* 모바일만바뀜 */
        content: ''; display: block;
        background-color: var(--bg-disable);
        width: 1px; height: 200px;
        position: absolute; top: 10px; right: -25px;
    }
    header .menu_right .icon_menu .search_popup .search_input_recent {
        position: absolute; top: 70px; left: 50%;               
        transform: translateX(-50%);
        width: 500px;
    }
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input {margin-bottom: 30px; width: 500px;}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input input::placeholder{font-size: var(--font-size-md-d);}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input input {} /* 검색창 */
    header .menu_right .icon_menu .search_popup .search_input_recent .search_recent {width: 100%;}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_recent #recent_delete {font-size: var(--font-size-sm-t);}

    header .menu_right .icon_menu .search_popup .search_ad {width: 390px; height: 218px;}
    header .menu_right .icon_menu .search_popup .search_ad img {width: 100%; height:100%; aspect-ratio: 390 / 218;}
    /* ===============================================================================(아래)메인 */
    main {}
    /* ===================================================히어로배너 */
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide {height: 730px;}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 h3 {font-size: 3em;}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 p {font-size: 1.375em;}
    /* ===================================================아티스트 */
    main #aritst_sec {}
    main #aritst_sec .artist_wrap {padding: 120px 0;}
    main #aritst_sec .artist_wrap h2 {
    font-size: var(--font-size-xxxl-t);
    margin-bottom: 40px;
    }
    main #aritst_sec .artist_wrap .artist_swiper {
        height: max-content;
        overflow: hidden;
    }
    main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide {width: 600px ; height: 100%}
    main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a {}
    main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a img {
        width: 100%;
        height: 366px;
        margin-bottom: 20px;
    }
    main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a h3 {font-size: var(--font-size-xxl-t);}

    /* =========================================================== 3행 NEW */
    main #new_sec {}
    main #new_sec .new_wrap {padding-top: 70px; height: 1220px; position: relative;}
    main #new_sec .new_wrap h2 {
        font-size: var(--font-size-xxxl-t);
        margin-bottom: 40px;
    }
    /* ================================================탭메뉴 */    
    main #new_sec .new_wrap .new_tab_menu {
        gap: 30px;
        margin-bottom: 25px;
    }
    main #new_sec .new_wrap .new_tab_menu li button {font-size: var(--font-size-lg-t);}
    main #new_sec .new_wrap .new_tab_menu li button::after {
        height: 5px;
        background: #000;
        bottom: -7px;
    }

    /* ================================================컨텐츠 */
    main #new_sec .new_wrap .new_content_wrap .new_content_wrap {}
    main #new_sec .new_wrap .new_content_wrap .new_content {
        gap: 10px;
        top: 204px;
        height: 951px
    } 

    /* ================================================배너 */
    main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner {flex: 0.934}
    main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner a {
        width: 480px; height: 951px;
    }
    main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner .new_bigbang {
        background-image: url(../images/new/bigbang/banner_t.jpg);
    }
    main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner .new_blackpink {
        background-image: url(../images/new/blackpink/banner_t.jpg);
    }
    main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner a .banner_text {
        font-size: 3.375rem;
        bottom: 10px; left: 30px;
    }

    /* ================================================상품리스트 */
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list {
        display: flex; flex-flow: row wrap;
        gap: 15px 20px;
        height: 100%;
        flex: 1
    }
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li {flex: 0 0 calc(50% - 20px); width: 100%;}
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a {}
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a .new_thum {width: 100%; margin-bottom: 10px;}
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a .new_thum img {width: 100%;}
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a .new_name {
        font-size: var(--font-size-sm-t);
        margin-bottom: 5px;
    }
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a .new_price {font-size: var(--font-size-md-t);}

    /* ========================================띠배너(응원봉) */
    main #line_bnr_sec {padding: 170px 0 70px 0;}
    main #line_bnr_sec .line_bnr {padding: 0 60px; height: 150px;}
    main #line_bnr_sec .line_bnr .line_bnr_text h2 {
        font-size: 1.75rem;
        margin-bottom: 5px;
    }
    main #line_bnr_sec .line_bnr .line_bnr_text .bnr_details {
        font-size: var(--font-size-md-t);
        margin-bottom: 5px;
    }
    main #line_bnr_sec .line_bnr .line_bnr_text .buy_now {font-size: var(--font-size-sm-t);}

    main #line_bnr_sec .line_bnr .cheering_group {padding-top: 130px;}
    main #line_bnr_sec .line_bnr .cheering_group img {width: 80px;}

    /* ================================================================ 4행 앨범 */
    main #album_sec {margin-top: 70px;}
    main #album_sec .album_wrap {height: 700px;}
    /* =========================================================메인배너, 제목 */
    main #album_sec .album_wrap .album_detail {padding-left: 25px;}
    main #album_sec .album_wrap .album_detail h2 {font-size: var(--font-size-xxxl-t); margin-bottom: 20px;}
    /* ========================================================= 탭 메뉴 */
    main #album_sec .album_wrap .album_detail .album_tab_menu {gap: 15px; margin-bottom: 50px;}
    main #album_sec .album_wrap .album_detail .album_tab_menu li button {font-size: var(--font-size-lg-t);}
    /* ========================================================= 앨범 */
    main #album_sec .album_wrap .album_detail .album_title_img h2 {
        font-size: var(--font-size-xxll-t);
        margin-bottom: 5px;
    }
    main #album_sec .album_wrap .album_detail .album_title_img p {
        font-size: var(--font-size-lg-t);
        margin-bottom: 15px;
    }
    main #album_sec .album_wrap .album_detail .album_title_img .album_bnr_s {width: 350px;}
    main #album_sec .album_wrap .album_detail .album_title_img .lp {
        width: 350px;
        position: absolute; top: 58px; left: 155px;
    }
    /* ==============================================띠배너(YGSELECT) */
    .yg_banner_container {padding: 15px 0;}
    .yg_banner_container .banner_wrap {animation: yg_line_bnr 80s linear infinite;}
    .yg_banner_container .banner_wrap .line_banner_text {
        gap: 25px; 
        padding-right: 25px;
    }
    .yg_banner_container .banner_wrap .line_banner_text span {font-size: var(--font-size-xxxl-t);}
    /* =================================================== best */
    main #best_sec {padding: 0 60px;}
    main #best_sec .best_wrap {padding: 70px 0;}
    main #best_sec .best_wrap h2 {
        font-size: var(--font-size-xxxl-t); 
        margin-bottom: 40px;
    }
    main #best_sec .best_wrap .swiper-button-next {
        right: 16px;
    }
    main #best_sec .best_wrap .swiper-button-prev {
        left: 16px;
    }
    main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_bnr {
        height: 480px;
        margin-bottom: 10px;
    }
    main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_bnr h1 {
        bottom: 30px; left: 30px;
        font-size: 2.625rem;
    }
    main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product .product_info .best_thum {width: 100%; height:100%; margin-bottom: 7px;}
    main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product .product_info .best_name {
        font-size: var( --font-size-xs-t);
        width: 100%;
        margin-bottom: 3px;
    }
    main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product .product_info .best_price {font-size: var(--font-size-sm-t);}
    /*========================================================= 이벤트  */
    main #event_sec {}
    main #event_sec .event_wrap {padding: 70px 0;}
    main #event_sec .event_wrap h2 {
        font-size: var(--font-size-xxxl-t);
        margin-bottom: 40px; 
}
    main #event_sec .event_wrap .event_slide {}
    main #event_sec .event_wrap .event_slide .swiper-wrapper {}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide {width: 240px; height: 450px;}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide:nth-child(even) {transform: translateY(60px);}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide .event_detail {font-size: var(--font-size-md-t);}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide .event_detail .event_thum {height: 326px;  margin-bottom: 15px;}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .view_all {width: 240px; height: 326px;}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .view_all a .view_all_img {
        height: 326px;
        margin-bottom: 15px;
        font-size: 10rem;
    }
    main #event_sec .event_wrap .event_slide .swiper-wrapper .view_all a h3 {font-size: var(--font-size-md-t);}
    main #event_sec .event_wrap .swiper-scrollbar {width: 300px;}
    
    /* ===================================================================== 슬로건  */
    main #slogan_sec .slogan_wrap {padding: 350px 60px; gap: 30px;}
    main #slogan_sec .slogan_wrap .slogan_logo_wrap .logo_bg {}
    main #slogan_sec .slogan_wrap .slogan_logo_wrap .slogan_logo {width: 496px; height: 242px;}
    main #slogan_sec .slogan_wrap .slogan_logo_wrap .slogan_logo img {width: 100%;}
    main #slogan_sec .slogan_wrap .slogan_text {gap: 10px;}
    main #slogan_sec .slogan_wrap .slogan_text .slogan_main span{font-size: 4rem; line-height: 0.95;}
    main #slogan_sec .slogan_wrap .slogan_text p {font-size: var(--font-size-lg-t);}

    /* ===================================================================== footer */
    footer {padding: 0 60px;}
    footer .footer_wrap {padding: 50px 0;}
    /* ============================================================== footer 상단 */
    footer .footer_wrap .footer_top {margin-bottom: 30px;}
    /* ====================================================로고 */
    footer .footer_wrap .footer_top h1 {width: 100px; height: 57px;}
    /* ====================================================sns+패밀리사이트 */
    footer .footer_wrap .footer_top .footer_sns_family {gap: 30px;}
    /* ====================================================패밀리사이트 */
    footer .footer_wrap .footer_top .footer_sns_family .family_site_wrap select {
        width: 118px; height: 36px;
        padding-left: 10px;
        background-size: 24px;
        font-size: var(--font-size-sm-t);
    }
    /* ====================================================sns */
    footer .footer_wrap .footer_top .footer_sns_family .sns_list {gap: 15px;}
    footer .footer_wrap .footer_top .footer_sns_family .sns_list a {width: 36px;}
    /* ============================================================== footer 하단 */
    footer .footer_wrap .footer_bottom .footer_left {gap: 10px;}
    /* ====================================================메뉴 */
    footer .footer_wrap .footer_bottom .footer_left .footer_menu {gap: 12px;}
    footer .footer_wrap .footer_bottom .footer_left .footer_menu li::after {
        width:1px; height: 12px;
        right: -7px; top: 2px;
    }
    footer .footer_wrap .footer_bottom .footer_left .footer_menu li a {font-size: 0.938rem;
    }
    /* ====================================================address */
    footer .footer_wrap .footer_bottom .footer_left .company_info p:nth-child(4) {margin-bottom: 10px;}
    footer .footer_wrap .footer_bottom .footer_left .company_info * {font-size: var(--font-size-xs-t);
    }
    footer .footer_wrap .footer_bottom .footer_left .company_info .copyright {
        font-size: var(--font-size-xsm-t);
    }
    /* ==================================================== cs센터 */
    footer .footer_wrap .footer_bottom .cs_center {gap: 12px;}
    footer .footer_wrap .footer_bottom .cs_center h3 {font-size: var(--font-size-md-t);}
    footer .footer_wrap .footer_bottom .cs_center .phone_num * {font-size: var(--font-size-sm-t);}
    footer .footer_wrap .footer_bottom .cs_center .phone_num p {width: 120px;}
    footer .footer_wrap .footer_bottom .cs_center .phone_num .tel {margin-bottom: 3px;}
    footer .footer_wrap .footer_bottom .cs_center .phone_num .fax {}
    footer .footer_wrap .footer_bottom .cs_center .hour {}
    footer .footer_wrap .footer_bottom .cs_center .hour * {font-size: var(--font-size-sm-t);}
    footer .footer_wrap .footer_bottom .cs_center .hour p {}
    footer .footer_wrap .footer_bottom .cs_center .hour p:nth-child(1) {margin-bottom: 3px;}

    /* ====================================================== CTA */
    #top_btn {
        position: fixed; right: 50px; bottom: 50px;
        width: 42px; height: 42px;
    }
    #top_btn img {
        width: 38px;
        display: block;
    }
    #top_btn span {
        font-size: var(--font-size-md-t);
    }
}

/* ============================================================================= 태블릿 -> 모바일 */
@media screen and (max-width:900px) {
    header {
        padding: 10px 15px;
    }
    /* =================================전체메뉴 */
    header #t_m_menu_btn {display: block;}/* 태블릿, 모바일 메뉴 기본 숨기기 */
    header .m_t_menu { /* 태블릿 모바일 전체메뉴 */
        width: 250px; height: 1000px;
        padding: 30px 0 0 15px;
    }
    header .m_t_menu .m_t_menu_list li {margin-bottom: 30px;}
    header .m_t_menu .m_t_menu_list li a {
        font-size: var(--font-size-lg-m);
        margin-right: 10px;
    }
    /* =================================로고 */
    header #brand_logo {width: 150px; height: 15px;}
    /* =================================우측메뉴 */
    header .menu_right .icon_menu #lang {display: none;}
    header .menu_right .icon_menu .login_btn {width: 28px;}
    header .menu_right .icon_menu .basket {display: none;}
    header .menu_right .icon_menu #search_btn {width: 28px;}
    /* ========================================검색창 */
    header .menu_right .icon_menu .search_popup {
        /* position: absolute; top: 100%; left: 0; */
        width: 100%; height: 645px;
        padding: 194px 30px 50px;
        flex-flow: column nowrap;
    }
    header .menu_right .icon_menu .search_popup .close_btn {
        top: 21px; right: 30px;
        width: 28px;
    }
    header .menu_right .icon_menu .search_popup .popular_search_pd {gap: 88px;}
    header .menu_right .icon_menu .search_popup .popular_search_pd li:nth-child(5),
    header .menu_right .icon_menu .search_popup .popular_search_pd li:nth-child(6),
    header .menu_right .icon_menu .search_popup .popular_search_pd li:nth-child(7) {display: none;}
    header .menu_right .icon_menu .search_popup .popular_search_pd li a {
        font-size: var(--font-size-md-m);   
    }
    header .menu_right .icon_menu .search_popup .popular_search_pd {
        flex-flow: row-reverse; 
        width: 380px; 
        justify-content: space-between;
    }
    header .menu_right .icon_menu .search_popup h3 {font-size: var(--font-size-md-m);} 
    header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap::after {/* 모바일만바뀜 */
        height: 120px; top: 7px; left: -65px;
    }
    header .menu_right .icon_menu .search_popup .search_input_recent {
        left: 50%;
        transform: translateX(-50%);
        width: 380px;
    }
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input {margin-bottom: 30px; width: 380px;}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input input::placeholder{font-size: var(--font-size-lg-m);}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input input {} /* 검색창 */
    header .menu_right .icon_menu .search_popup .search_input_recent .search_recent #recent_delete {font-size: var(--font-size-md-m);}
    /* =========================================== 히어로배너 */
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide {height: 700px;}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr1 {background-image: url('../images/hero/hero_m.png');}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr1 .bnr_title_wrap1 {top: 70px;}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr1 .bnr_title_wrap1 h3 {font-size: 2.625em;}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide .hero_bnr1 .bnr_title_wrap1 p {font-size: 1.25em;}
        /* ===================================================아티스트 */
    main #aritst_sec {}
    main #aritst_sec .artist_wrap {padding: 70px 0;}
    main #aritst_sec .artist_wrap h2 {
    font-size: var(--font-size-xxxl-m);
    margin-bottom: 30px;
    }
    main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide {width: 300px ; height: 100%}
    main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a {}
    main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a img {
        width: 100%;
        height: 177px;
        margin-bottom: 10px;
    }
    main #aritst_sec .artist_wrap .artist_swiper .swiper-wrapper .swiper-slide a h3 {font-size: var(--font-size-lg-m);}

        /* =========================================================== 3행 NEW */
    main #new_sec {}
    main #new_sec .new_wrap {padding-top: 50px; height: auto;}
    main #new_sec .new_wrap h2 {
        font-size: var(--font-size-xxxl-m);
        margin-bottom: 30px;
    }
    /* ================================================탭메뉴 */    
    main #new_sec .new_wrap .new_tab_menu {gap: 15px; margin-bottom: 20px;}
    main #new_sec .new_wrap .new_tab_menu li button {font-size: var(--font-size-md-m);}
    main #new_sec .new_wrap .new_tab_menu li button::after {
        height: 3px;
        background: #000;
        bottom: -5px;
    }

    /* ================================================컨텐츠 */

    main #new_sec .new_wrap .new_content_wrap .new_content {
        gap: 15px;
        height: auto;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    } 

    /* ================================================배너 */
    main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner {flex: auto;}
    main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner a {
        width: 100%; height: 330px;
    }
    main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner .new_bigbang {
        background-image: url(../images/new/bigbang/banner.jpg);
        background-position: 0 -70px;
    }
    main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner .new_blackpink {
        background-image: url(../images/new/blackpink/banner.jpg);
    }
    main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner a .banner_text {font-size: 3rem; color: #fff;}
    main #new_sec .new_wrap .new_content_wrap .new_content .artist_banner a .more_btn {
        display: block;
        width: 100px; height: 40px;
        border-radius: 0 0 0 50px;
        font-size: var(--font-size-lg-m);
        line-height: 38px;
        text-align: center;
        padding-left: 10px;
    }

    /* ================================================상품리스트 */
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list {
        display: flex; flex-flow: row wrap;
        gap: 15px 20px;
        height: 100%;
        justify-content: center;
        flex: auto;
    }
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li {flex: 0 0 calc(50% - 20px); width: calc(50% - 20px);}
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a {width: 100%;}
    main #new_sec .new_wrap .new_content_wrap  .new_content .new_product_list li a .new_thum {width: 100%; margin-bottom: 3px;}
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a .new_name {
        font-size: var(--font-size-md-m);
        margin-bottom: 5px;
        text-align: center;
    }
    main #new_sec .new_wrap .new_content_wrap .new_content .new_product_list li a .new_price {font-size: var(--font-size-lg-m); text-align: center;}
    
        /* ========================================띠배너(응원봉) */
    main #line_bnr_sec {padding: 110px 0 10px 0;}
    main #line_bnr_sec .line_bnr {
        padding: 0 15px; height: 180px;
        display: flex;
        flex-flow: column nowrap;
    }
        main #line_bnr_sec .line_bnr .line_bnr_text {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
        }
    main #line_bnr_sec .line_bnr .line_bnr_text h2 {
        font-size: var(--font-size-xxl-m);
        margin-bottom: 5px;
    }
    main #line_bnr_sec .line_bnr .line_bnr_text .bnr_details {
        font-size: var(--font-size-sm-m);
        margin-bottom: 5px;
    }
    main #line_bnr_sec .line_bnr .line_bnr_text .buy_now {font-size: var(--font-size-sm-m);}

    main #line_bnr_sec .line_bnr .cheering_group {padding-top: 20px; gap: 25px;}
    main #line_bnr_sec .line_bnr .cheering_group img {width: 80px;}


    /* ================================================================ 4행 앨범 */
    main #album_sec {margin-top: 150px;}
    main #album_sec .album_wrap {flex-flow: column nowrap; gap: 30px;}
    /* =========================================================메인배너, 제목 */
    main #album_sec .album_wrap .album_bnr img {object-position: center 40%;}
    main #album_sec .album_wrap .album_bnr {width: 100%; height: 290px;}
    main #album_sec .album_wrap .album_bnr img {height: 290px;}
    main #album_sec .album_wrap .album_detail {}
    main #album_sec .album_wrap .album_detail h2 {font-size: var(--font-size-xxxl-m);}
    /* ========================================================= 탭 메뉴 */
    main #album_sec .album_wrap .album_detail .album_tab_menu {gap: 20px;}
    main #album_sec .album_wrap .album_detail .album_tab_menu li button {font-size: var(--font-size-sm-m);}
    /* ========================================================= 앨범 */
    main #album_sec .album_wrap .album_detail .album_title_img h2 {
        font-size: var(--font-size-xl-m);
        margin-bottom: 2px;
    }
    main #album_sec .album_wrap .album_detail .album_title_img p {
        font-size: var(--font-size-md-m);
    }
    main #album_sec .album_wrap .album_detail .album_title_img .album_bnr_s {width: 300px;}
    main #album_sec .album_wrap .album_detail .album_title_img .lp {
        width: 290px;
        position: absolute; top: 50px; left: 125px;
    }
        /* ==============================================띠배너(YGSELECT) */
    .yg_banner_container {padding: 12px 0; margin-top: 50px;}
    .yg_banner_container .banner_wrap {animation: yg_line_bnr 100s linear infinite;}
    .yg_banner_container .banner_wrap .line_banner_text {
        gap: 20px; 
        padding-right: 20px;
    }
    .yg_banner_container .banner_wrap .line_banner_text span {font-size: var(--font-size-xxxxl-m);}
    
        /* =================================================== best */
    main #best_sec {padding: 0 15px;}
    main #best_sec .best_wrap {padding: 50px 0;}
    main #best_sec .best_wrap h2 {
        font-size: var(--font-size-xxxl-m); 
        margin-bottom: 30px;
    }
    main #best_sec .best_wrap .swiper-button-next,
    main #best_sec .best_wrap .swiper-button-prev {
        top: 45%;
    }
    main #best_sec .best_wrap .swiper-button-next {
        right: 30px;
    }
    main #best_sec .best_wrap .swiper-button-prev {
        left: 30px;
    }
    main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_bnr {
        height: 480px;
        margin-bottom: 10px;
    }
    main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product .product_info .best_thum {width: 100%; height:100%;}
    main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product .product_info .best_name {
        font-size: var(--font-size-xs-m);
        width: 100%;
        margin-bottom: 5px;
    }
    main #best_sec .best_wrap .best_detail .swiper-wrapper .artist_best_wrap .best_product .product_info .best_price {font-size: var(--font-size-sm-m);}

        /*========================================================= 이벤트  */
    main #event_sec {}
    main #event_sec .event_wrap {padding: 50px 0;}
    main #event_sec .event_wrap h2 {
        font-size: var(--font-size-xxxl-m);}
    main #event_sec .event_wrap .event_slide {}
    main #event_sec .event_wrap .event_slide .swiper-wrapper {}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide {width: 140px; height: 260px;}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide:nth-child(even) {transform: translateY(18px);}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide .event_detail {font-size: var(--font-size-sm-m);}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .swiper-slide .event_detail .event_thum {height: 190px;  margin-bottom: 10px;}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .view_all {width: 140px; height: 260px;}
    main #event_sec .event_wrap .event_slide .swiper-wrapper .view_all a .view_all_img {
        height: 190px;
        margin-bottom: 10px;
        font-size: 7rem;
    }
    main #event_sec .event_wrap .event_slide .swiper-wrapper .view_all a h3 {font-size: var(--font-size-sm-m);}
    main #event_sec .event_wrap .swiper-scrollbar {width: 150px;}

    /* ===================================================================== 슬로건  */
    main #slogan_sec {height: 100vh; position: relative;}
    main #slogan_sec .slogan_wrap {
        gap: 30px;
        flex-flow: column-reverse nowrap;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
    main #slogan_sec .slogan_wrap .slogan_logo_wrap .logo_bg {}
    main #slogan_sec .slogan_wrap .slogan_logo_wrap .slogan_logo {width: 340px; height: 166px;}
    main #slogan_sec .slogan_wrap .slogan_logo_wrap .slogan_logo img {width: 100%;}
    main #slogan_sec .slogan_wrap .slogan_text {gap: 10px;}
    main #slogan_sec .slogan_wrap .slogan_text .slogan_main span{font-size: 4rem; line-height: 0.95;}
    main #slogan_sec .slogan_wrap .slogan_text p {font-size: var(--font-size-xl-m);}

    /* ===================================================================== footer */
    footer {padding: 0 15px;}
    footer .footer_wrap {padding: 30px 0;}
    /* ============================================================== footer 상단 */
    footer .footer_wrap .footer_top {margin-bottom: 20px;}
    /* ====================================================로고 */
    footer .footer_wrap .footer_top h1 {width: 80px; height: 46px;}
    /* ====================================================sns+패밀리사이트 */
    footer .footer_wrap .footer_top .footer_sns_family {gap: 15px;}
    /* ====================================================패밀리사이트 */
    footer .footer_wrap .footer_top .footer_sns_family .family_site_wrap select {
        width: 99px; height: 32px;
        padding-left: 5px;
        background-size: 24px;
        font-size: var(--font-size-sm-m);
    }
    /* ====================================================sns */
    footer .footer_wrap .footer_top .footer_sns_family .sns_list {gap: 10px;}
    footer .footer_wrap .footer_top .footer_sns_family .sns_list a {width: 24px;}
    /* ============================================================== footer 하단 */
    footer .footer_wrap .footer_bottom {flex-flow: column-reverse nowrap; width: 100%;}
    footer .footer_wrap .footer_bottom .footer_left {gap: 10px;}
    /* ====================================================메뉴 */
    footer .footer_wrap .footer_bottom .footer_left .footer_menu {gap: 10px; width: max-content;}
    footer .footer_wrap .footer_bottom .footer_left .footer_menu li::after {
        width:1px; height: 9px;
        right: -6px; top: 1px;
    }
    footer .footer_wrap .footer_bottom .footer_left .footer_menu li a {font-size: var(--font-size-xs-m);
    }
    /* ====================================================address */
    footer .footer_wrap .footer_bottom .footer_left .company_info p:nth-child(4) {margin-bottom: 10px;}
    footer .footer_wrap .footer_bottom .footer_left .company_info * {font-size: var(--font-size-xxs-m);
    }
    footer .footer_wrap .footer_bottom .footer_left .company_info .copyright {
        font-size: var(--font-size-xs-m);
    }
    /* ==================================================== cs센터 */
    footer .footer_wrap .footer_bottom .cs_center {
        display: flex; flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }
    footer .footer_wrap .footer_bottom .cs_center h3 {font-size: var(--font-size-lg-m);}
    footer .footer_wrap .footer_bottom .cs_center .phone_num * {font-size: var(--font-size-md-m);}
    footer .footer_wrap .footer_bottom .cs_center .phone_num p {width: 120px;}
    footer .footer_wrap .footer_bottom .cs_center .phone_num .tel {margin-bottom: 3px;}
    footer .footer_wrap .footer_bottom .cs_center .phone_num .fax {}
    footer .footer_wrap .footer_bottom .cs_center .hour {}
    footer .footer_wrap .footer_bottom .cs_center .hour * {font-size: var(--font-size-md-m);}
    footer .footer_wrap .footer_bottom .cs_center .hour p {}
    footer .footer_wrap .footer_bottom .cs_center .hour p:nth-child(1) {margin-bottom: 3px;}

        /* ====================================================== CTA */
    #top_btn {
        position: fixed; right: 40px; bottom: 40px;
        width: 36px; height: 36px;
    }
    #top_btn img {
        width: 32px;
        display: block;
    }
    #top_btn span {
        font-size: var(--font-size-md-m);
    }
}