/* YG SELECT | responsive.css */
/* 데스크탑 -> 태블릿 */
@media screen and (max-width:1400px) {
    header {
    padding: 10px 60px;
}
/* =================================전체메뉴 */
    header #t_m_menu_btn {display: block;}/* 태블릿, 모바일 메뉴 기본 숨기기 */
    header .menu_list {display: none;}
    /* =================================로고 */
    header #brand_logo {width: 200px; height: 20px;}
    /* =================================우측메뉴 */
    header .menu_right * {font-size: var(--font-size-md-t);}
    header .menu_right .join_login {display: none;}
    header .menu_right .icon_menu {gap: 15px;}
    header .menu_right .icon_menu #lang {}
    header .menu_right .icon_menu .login_btn {display: block; width: 32px;}
    header .menu_right .icon_menu .login_btn img {width: 100%;}
    header .menu_right .icon_menu .basket {width: 32px;}
    header .menu_right .icon_menu .basket img {width: 100%;}
    header .menu_right .icon_menu #search_btn {width: 32px;}
    header .menu_right .icon_menu #search_btn img {width: 100%;}
    /* ========================================검색창 */
    header .menu_right .icon_menu .search_popup {
        background-color: #fff;
        position: absolute; top: 100%; left: 0;
        width: 100%; height: 450px;
        padding: 100px 140px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
        transform: translateY(-100px);
        opacity: 0;
        transition: all 0.3s ease;
        visibility: hidden;
        z-index: 500
    }
    header .menu_right .icon_menu .search_popup.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    header .menu_right .icon_menu .search_popup .close_btn {
        position: absolute; top: 30px; right: 60px;
    }
    header .menu_right .icon_menu .search_popup .close_btn img {width: 100%;}
    header .menu_right .icon_menu .search_popup .popular_search_pd {gap: 50px;}
    header .menu_right .icon_menu .search_popup .popular_search_pd h3 {}
    header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap {position: relative;}
    header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap::after {
        content: ''; display: block;
        background-color: var(--bg-disable);
        width: 1px; height: 200px;
        position: absolute; top: 10px; right: -25px;
    }
    header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap .popular_pd {}
    header .menu_right .icon_menu .search_popup .popular_search_pd .popular_search_wrap {}
    header .menu_right .icon_menu .search_popup .popular_search_pd .popular_search_wrap .popular_search {}

    header .menu_right .icon_menu .search_popup .search_input_recent {}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input {margin-bottom: 20px;}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input input {}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input img {}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_recent {}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_recent h3 {}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_recent #recent_delete {}

    header .menu_right .icon_menu .search_popup .search_ad {width: 500px; height: 280px;}
    header .menu_right .icon_menu .search_popup .search_ad img {width: 100%;}
    /* ===============================================================================(아래)메인 */
    main {}
    /* ===================================================히어로배너 */
    main #hero {}
    main #hero .hero_bnr {}
    main #hero .hero_bnr .swiper-wrapper {}
    main #hero .hero_bnr .swiper-wrapper .swiper-slide {
        height: 900px;
    }
    main #hero .hero_bnr .swiper-wrapper .swiper-slide a {
        background-image: url(../images/hero/hero4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -100px;
        display: block;
        height: 100%;
        position: relative;
    }
    main #hero .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 {
        position: absolute; top: 0; left: 50%; 
        transform: translate(-50%, 100px);
        text-align: center;
    }
    main #hero .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 * {color: #fff;}
    main #hero .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 p {
        margin-bottom: 20px;
        font-size: 1.75em;
        font-weight: var(--font-weight-light);
        opacity: 0;
        transform: translateY(-30px);
        transition: all 1s ease 0.5s;
    }
    main #hero .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 h3 {  
        font-weight: var(--font-weight-bold);
        font-family: 'Noto Serif KR';
        font-size: 4em;
        opacity: 0;
        transform: translateY(-30px);
        transition: all 1s ease;
    }
    main #hero .hero_bnr .swiper-wrapper .swiper-slide-active a .bnr_title_wrap1 p,
    main #hero .hero_bnr .swiper-wrapper .swiper-slide-active a .bnr_title_wrap1 h3 {
        opacity: 1;
        transform: translateY(0);
    }
    main #hero .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap2 {}
    main #hero .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap * {color: #fff;}
    main #hero .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap2 p {}
    main #hero .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap2 h3 {}
}