/* YG SELECT | responsive.css */
/* 데스크탑 -> 태블릿 */
@media screen and (max-width:1400px) {
    header {
        padding: 10px 60px;
    }
/* =================================전체메뉴 */
    header #t_m_menu_btn {display: block;}/* 태블릿, 모바일 메뉴 기본 숨기기 */
    header .m_t_menu { /* 태블릿 모바일 전체메뉴 */
        display: block;
        opacity: 0;
        transform: translateX(-50px);
        transition: all 0.3s;
        position: fixed;
        top: 59px; left: 0;
        width:400px; height: 1200px;
        background: #fff;
        padding: 106px 50px;
        visibility: hidden;
    }
    header .m_t_menu p {
        width: 36px;
        position: absolute; top: 50px; right: 50px;
    }
    header .m_t_menu p img {width: 100%;}
    header .m_t_menu.active {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
    header .m_t_menu .m_t_menu_list li {margin-bottom: 40px;}
    header .m_t_menu .m_t_menu_list li a {
        font-size: var(--font-size-xl-t);
        font-weight: var(--font-weight-bold);
        margin-right: 10px;
    }
    header .menu_list {display: none;}
    header .menu_list li:hover .artist_sub,
    header .menu_list li:hover .category_sub,
    header .menu_list li:hover .community_sub {
        display: none;
    }
    /* =================================로고 */
    header #brand_logo {width: 200px; height: 20px;}
    /* =================================우측메뉴 */
    header .menu_right * {font-size: var(--font-size-md-t);}
    header .menu_right .join_login {display: none;}
    header .menu_right .icon_menu {gap: 15px;}
    header .menu_right .icon_menu .login_btn {display: block; width: 32px;}
    header .menu_right .icon_menu .basket {width: 32px;}
    header .menu_right .icon_menu #search_btn {width: 32px;}
    /* ========================================검색창 */
    header .menu_right .icon_menu .search_popup {
        /* position: absolute; top: 100%; left: 0; */
        width: 100%; height: 540px;
        padding: 221px 63px 70px 120px;
        align-items: center;
    }
    header .menu_right .icon_menu .search_popup .close_btn {
        top: 73px; right: 63px;
        width: 36px;
    }
    header .menu_right .icon_menu .search_popup .popular_search_pd {gap: 40px;}
    header .menu_right .icon_menu .search_popup .popular_search_pd li a {
        font-size: var(--font-size-sm-d);   
    }
    header .menu_right .icon_menu .search_popup h3 {font-size: var(--font-size-lg-t);} 
    header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap::after {/* 모바일만바뀜 */
        content: ''; display: block;
        background-color: var(--bg-disable);
        width: 1px; height: 200px;
        position: absolute; top: 10px; right: -25px;
    }
    header .menu_right .icon_menu .search_popup .search_input_recent {
        position: absolute; top: 70px; left: 50%;               
        transform: translateX(-50%);
        width: 500px;
    }
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input {margin-bottom: 30px; width: 500px;}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input input::placeholder{font-size: var(--font-size-md-d);}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input input {} /* 검색창 */
    header .menu_right .icon_menu .search_popup .search_input_recent .search_recent {width: 100%;}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_recent #recent_delete {font-size: var(--font-size-sm-t);}

    header .menu_right .icon_menu .search_popup .search_ad {width: 390px; height: 218px;}
    header .menu_right .icon_menu .search_popup .search_ad img {width: 100%; height:100%; aspect-ratio: 390 / 218;}
    /* ===============================================================================(아래)메인 */
    main {}
    /* ===================================================히어로배너 */
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide {height: 730px;}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 h3 {font-size: 3em;}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 p {font-size: 1.375em;}
}
/* ============================================================================= 태블릿 -> 모바일 */
@media screen and (max-width:680px) {
    header {
        padding: 10px 15px;
    }
/* =================================전체메뉴 */
    header #t_m_menu_btn {display: block;}/* 태블릿, 모바일 메뉴 기본 숨기기 */
    header .m_t_menu { /* 태블릿 모바일 전체메뉴 */
        width: 250px; height: 1000px;
        padding: 98px 30px;
    }
    header .m_t_menu .m_t_menu_list li {margin-bottom: 30px;}
    header .m_t_menu .m_t_menu_list li a {
        font-size: var(--font-size-lg-m);
        margin-right: 10px;
    }
    /* =================================로고 */
    header #brand_logo {width: 150px; height: 15px;}
    /* =================================우측메뉴 */
    header .menu_right .icon_menu #lang {display: none;}
    header .menu_right .icon_menu .login_btn {width: 28px;}
    header .menu_right .icon_menu .basket {display: none;}
    header .menu_right .icon_menu #search_btn {width: 28px;}
    /* ========================================검색창 */
    header .menu_right .icon_menu .search_popup {
        /* position: absolute; top: 100%; left: 0; */
        width: 100%; height: 645px;
        padding: 194px 30px 50px;
        flex-flow: column nowrap;
    }
    header .menu_right .icon_menu .search_popup .close_btn {
        top: 21px; right: 30px;
        width: 28px;
    }
    header .menu_right .icon_menu .search_popup .popular_search_pd {gap: 88px;}
    header .menu_right .icon_menu .search_popup .popular_search_pd li:nth-child(5),
    header .menu_right .icon_menu .search_popup .popular_search_pd li:nth-child(6),
    header .menu_right .icon_menu .search_popup .popular_search_pd li:nth-child(7) {display: none;}
    header .menu_right .icon_menu .search_popup .popular_search_pd li a {
        font-size: var(--font-size-md-m);   
    }
    header .menu_right .icon_menu .search_popup .popular_search_pd {
        flex-flow: row-reverse; 
        width: 380px; 
        justify-content: space-between;
    }
    header .menu_right .icon_menu .search_popup h3 {font-size: var(--font-size-md-m);} 
    header .menu_right .icon_menu .search_popup .popular_search_pd .popular_pd_wrap::after {/* 모바일만바뀜 */
        height: 120px; top: 7px; left: -65px;
    }
    header .menu_right .icon_menu .search_popup .search_input_recent {
        left: 50%;
        transform: translateX(-50%);
        width: 380px;
    }
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input {margin-bottom: 30px; width: 380px;}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input input::placeholder{font-size: var(--font-size-lg-m);}
    header .menu_right .icon_menu .search_popup .search_input_recent .search_input input {} /* 검색창 */
    header .menu_right .icon_menu .search_popup .search_input_recent .search_recent #recent_delete {font-size: var(--font-size-md-m);}
    /* =========================================== 히어로배너 */
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide {height: 700px;}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a {background-image: url('../images/hero/hero_m.png');}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 {top: 70px;}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 h3 {font-size: 2.625em;}
    main #hero_sec .hero_bnr .swiper-wrapper .swiper-slide a .bnr_title_wrap1 p {font-size: 1.25em;}
}