/* YG SELECT | var.css */
:root{
    /* 데스크탑 */
    --font-size-sm-d: 1em; /* 16px */
    --font-size-md-d: 1.125em; /* 18px 아이콘메뉴  */
    --font-size-lg-d: 1.25em; /* 20px 메뉴카테고리  */
    /* 태블릿 */
    --font-size-md-t: 1em /* 16px 아이콘메뉴 */

    --font-weight-bold: 800;
    --font-weight-medium: 500;
    --font-weight-light: 300;

    --bg-disable: #ddd;
}